# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Add your custom exclusions below this line

circumbinary_fits_testing/
data_files/
fit_results/
gulls_stuff/
/Multiple_lc_*
Planet_grid_run_files/
triplelens-1.0.7/
/contour_analysis_results
/magnification_maps
planet_map_test.fits
/oom_detectability
/slurm_scripts
